In [1]:
import pandas as pd

In [19]:
allocated_results = pd.read_csv('results.csv', usecols = lambda column : column.find('Unna') and column.find('pk_product_id'))

In [23]:
allocated_results.columns = [
    'obligor_id',
    'gbv_per_account',
    'temenos_account_id',
    'product_id',
    'gbv_total_obligor',
    'share_gbv_contract_in_total',
    'collateral_type_id',
    'value_of_collateral',
    'value_of_allocated_collateral',
    'product_variant_code',
    'T_24',
    'occupied_by_owner',
    'linked_credit_quality',
    'repayment_capacity',
    'is_eligible_collateral',
    'rwa_class_pre'    
]

In [22]:
# allocated_results = pd.read_csv('results.csv')
allocated_results

,obligor_id,gross_balance_value,temenos_account_id,product_id,total,share_gbv,collateral_type_id,value,allocated_collateral,product_variant_code,T_24,occupied_owner,linked_credit_quality,repayment_capacity,is_eligble,rwa_class_pre
0,13714,668.09,1000161981,2,668.09,1.000000,0,0.0,0.000000,RETAIL_MAIN_ACCOUNT,no_info,no_info,no_info,no_info,no_info,RETAIL
1,9316,453.73,1000110619,2,453.73,1.000000,0,0.0,0.000000,RETAIL_MAIN_ACCOUNT,no_info,no_info,no_info,no_info,no_info,RETAIL
2,8014,195.36,1000085916,2,158669.98,0.001231,100,185000.0,227.778437,RETAIL_MAIN_ACCOUNT,no_info,no_info,no_info,no_info,no_info,RETAIL
3,8014,158474.62,1000419482,44,158669.98,0.998769,100,185000.0,184772.221563,RETAIL_MORTGAGE_LOAN,no_info,no_info,no_info,no_info,no_info,RETAIL
4,14239,956.62,1000145568,2,3882.59,0.246387,0,0.0,0.000000,RETAIL_MAIN_ACCOUNT,no_info,no_info,no_info,no_info,no_info,RETAIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4048,16704,56974.26,1000201169,23,56974.26,1.000000,0,0.0,0.000000,SME_REVOLVING_LOAN,no_info,no_info,no_info,no_info,no_info,SME
4049,16871,1076731.64,1000201339,23,1076731.64,1.000000,0,0.0,0.000000,SME_REVOLVING_LOAN,no_info,no_info,no_info,no_info,no_info,SME
4050,17115,252627.92,1000201468,23,252627.92,1.000000,0,0.0,0.000000,SME_REVOLVING_LOAN,no_info,no_info,no_info,no_info,no_info,SME
4051,17024,381953.35,1000201029,23,381953.35,1.000000,0,0.0,0.000000,SME_REVOLVING_LOAN,no_info,no_info,no_info,no_info,no_info,SME
4052,17053,2781131.75,1000201223,23,2781131.75,1.000000,0,0.0,0.000000,SME_REVOLVING_LOAN,no_info,no_info,no_info,no_info,no_info,SME

In [16]:
for column in allocated_results.columns:
    print(column.find("Unna"))

0
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

In [17]:
bool(-1)

True